/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.num-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

#number {
    font-size: 36px;
    margin: 10px 0;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
